.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #35383d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.weather_container {
  margin: auto;
  width: 100%;
  padding: 5px;
}

.weathercard {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  text-align: center;
  border-style: solid;
  margin: 25px;
}

.weathercards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
